body {
    font-family: Arial, sans-serif;
    background-color: #ffd9c6;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    height: 360px;
    width: 780px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 24px #ffaebd; /* 박스 그림자 */
}

.flavor_logo {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
}

.id_horizontal {
    transform: translate(10%, 4%);
}

.pw_horizontal {
    transform: translate(60%, -238%);
}

h3 {
    color: #333333;
    margin-bottom: 10px;
}

.line {
    border: 0.1px solid #dadada;
    width: 0.1px;
    height: 300px;
    margin-left: 397.6px;
    transform: translateY(-92%);
}

.box_click:active,
.box_click:focus,
.box_click:hover {
    outline: none;
    border-color: #ff6480;
}

input[type="name"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    margin: 2px 0px 10px 18px;
}

input[type="id"],
input[type="email"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    margin: 2px 0px 10px 2px;
}

input[type="submit"] {
    background-color: #ff6480;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    transform: translateX(50%);
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #b4475b;
}