@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}

body {
  background-color: #ffd9c6;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.screen {
  background: #ffffff;
  position: relative;
  height: 600px;
  width: 360px;
  border-radius: 5px;
  box-shadow: 0px 0px 24px #ffaebd;
}

/* 마우스 커서 인식하는 것 */
.screen_content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.screen_background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.flavor_logo {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 26px;
}

.login {
  width: 360px; /* 아이디 비밀번호 언더바 길이 */
  padding: 10px 42px 4px 42px; /* 여백 간격 */
}

.login_field {
  padding: 16px 0px;
  position: relative;
}

.login_input {
  border: none;
  border-bottom: 2px solid #D1D1D4;
  background: none;
  padding: 12px;
  font-weight: 700;
  width: 100%;
  text-align: left;
}

.login_input:active,
.login_input:focus,
.login_input:hover {
  outline: none;
  border-bottom-color: #f9958c;
}

.chk_btn {
    display: inline-block; /* 영역 적용 가능해짐 */
    width: 20px; 
    height: 20px;
    border-radius: 10px;
    border: 2px solid #9d9d9d;
    box-sizing: border-box;
    position: relative; 
    top: 4px;
    cursor: pointer;
    font-size: 13px;
    font-family: Raleway, sans-serif;
}

.chk_btn:after{
    content: 'v'; /* 체크박스 특수문자 */
    margin: 8px 0px 0px 1.2px;
    font-size: 20px; color: #000000;
    background-size: cover;
    position: absolute; 
    top: -14px; 
    left: 0;
    opacity: 0; /* 처음엔 안보이게 처리 */
    transition: 0.2s; /* CSS변화에 시간차 처리 */
}

/* input이 체크되면 특수문자 보이게 처리 */
#checkbox:checked + .chk_btn:after {
    opacity: 1;
}

/* 체크 박스는 display:none;을 주면 데이터 처리가 안 됨
   체크 박스 두 개 띄우기 싫으면 넣어야 한다는 듯...? */
#checkbox {
    position: absolute;
    left: -999em;
}

.login_submit {
  background: #fff;
  font-size: 14px;
  margin: 30px 0px 0px 0px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #D4D3E8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0px 2px 2px #ff715b;
  cursor: pointer;
  transition: .2s;
}

.login_submit:active,
.login_submit:focus,
.login_submit:hover {
  border-color: #ff715b;
  outline: none;
}

.find_info {
  display: inline-flex; /* 가로로 정렬 */
  list-style-type: none;
  font-size: 10px;
  padding-left: 84px;
}

.find_idpw {
  margin-left: 13.9px;
  margin-right: 10px;
  color: #868686;
}

.sign_up {
  color: #868686;
}

.social_login {
  position: absolute;
  padding: 20px 0px 0px 40px;
}

.social_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.naver_icon, 
.kakao_icon, 
.google_icon {
  margin-right: 15px;
  background-color: #ffffff;
  border-color: #ffffff;
  cursor: pointer;
  border: none;
  box-shadow: none;
}

.facebook_icon {
  margin-right: 9.5px;
  background-color: #ffffff;
  border-color: #ffffff;
  cursor: pointer;
  border: none;
  box-shadow: none;
}

.naver_icon:active,
.naver_icon:focus,
.kakao_icon:active,
.kakao_icon:focus,
.facebook_icon:active,
.facebook_icon:focus,
.google_icon:active,
.google_icon:focus {
  border: none;
  box-shadow: none;
}

.error_message {
  display: none;
  color: red;
  margin-top: -13px;
  margin-left: 5px;
  font-size: 12px;
}