@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

/* 리셋 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffd9c6; /* 배경 색*/
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.member {
  font-size: 14px;
  height: 600px;
  width: 360px;
  padding: 20px;
  background-color: #fff; /* 박스 색 */
  border: 1px solid #ccc; /* 박스 테두리 색 */
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 24px #ffaebd; /* 박스 그림자 */
}

/* 각 필드 사이 간격 */
.field_name,
.field_id,
.field_password,
.field_password_check,
.field_birth,
.field_email,
.field_number {
  /* margin-top: 2px; */
  margin-bottom: 15px;
}

.field_id {
  position: relative;
}

.field_id button {
  position: absolute;
  top: 2px;
  right: 3px;
  bottom: 2px;
  padding: 6px 8px;
  background-color: #ffa99a;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.field_id button:hover {
  background-color: #e5988a;
}

.error_message {
  display: none;
  color: red;
  margin-top: -14px;
  margin-left: 5px;
  font-size: 11px;
}

.field_birth {
  display: flex;
  align-items: center;
}

.field_email {
  display: flex;
  align-items: center;
}

select {
  margin-right: 20px;
}


input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #ffa99a;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="button"] {
  padding: 10px 20px;
  background-color: #ad9e98;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}


input[type="submit"]:hover {
  background-color: #e5988a;
}

input[type="button"]:hover {
  background-color: #847874;
}